* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-row, .second-row {
    display: flex;
}

.first-row div, .second-row div {
    border-style: solid;
    height: 50px;
    width: 50px;
}