* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    display: flex;
    justify-content: space-between;
}

button {
    border-style: solid;
    border-radius: 10px;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 10vh;
}

.info button {
    padding: 5px 45px;
    margin: 5px;
}

.change-grid h5 {
    font-size: 15px
}

.change-grid div {
    font-size: 45px;
}

.etch-a-sketch {
    display: flex;
    flex-direction: row;
}

.etch-a-sketch button img {
    width: 40px;
}

.etch-a-sketch > button {
    padding: 0 40px;
}

#square-divs {
    user-select: none;
    width: 100vh;
}

.row-divs {
    display: flex;
}

.grid-divs {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    aspect-ratio: 1/1;
}

.pen-option {
    display: flex;
    flex-direction: column;
}

.pen-option button {
    flex: 1;
    padding: 0 5px;
}

.selected {
    background-color: rgb(67, 150, 150);
}