* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: space-between;
}

.etch-a-sketch {
    display: flex;
    flex-direction: row;
}

#square-divs {
    user-select: none;
    width: 911px;
}

.row-divs {
    display: flex;
}

.grid-divs {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    aspect-ratio: 1/1;
}

.coloring {
    background-color: teal;
}

.pen-option {
    display: flex;
    flex-direction: column;
}

.pen-option button {
    flex: 1;
}